body
{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

#contact
{
    display: block;
    font-size: 60px;
    font-weight: 100;
    color: black;
    text-decoration: none;
    top: 55px;
    left: 590px;
    position: absolute;
}

#socialMedia1
{
    display: block;
    color: black;
    font-size: 30px;
    top: 400px;
    left: 750px;
    text-decoration: none;
    position: absolute;
}

#socialMedia2
{
    display: block;
    text-align: center;
    color: black;
    font-size: 30px;
    text-decoration: none;
    top: 400px;
    left: 650px;
    position: absolute;
}

#socialMedia1:hover, #socialMedia2:hover
{
    color: mediumpurple;
}

#submitButton
{
    display: block;
    background-color: black;
    padding: 15px 32px;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 750px;
    left: 500px;
}

#submitButton:hover
{
    background-color: mediumpurple;
}

.contactForm
{
    display: block;
    position: absolute;
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.nameForm
{
    display: block;
    position: absolute;
    top: 490px;
    left: 500px;
    position: fixed;
}

.emailForm
{
    display: block;
    position: absolute;
    top: 490px;
    left: 770px;
}

.messageForm
{
    display: block;
    position: absolute;
    top: 610px;
    left: 500px;
    position: fixed;
}

.myHeader
{
    background-image: url("forphotoshop1\ \(2\).png");
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    float: top;
    padding: 0;
}

#socialMediaTitle
{
    font-size:40px; 
    font-weight:100; 
    top:250px; 
    left: 600px; 
    display: block;
    position: absolute;
}

@media only screen and (max-width:992px)
{
    #socialMedia1
    {
       top: 200px;
       left: 300px;
    }
    #socialMedia2
    {
        top: 200px;
        left: 350px;
    }
    .nameForm
    {
        top: 490px;
        left: 300px;
    }
    .emailForm
    {
        top: 490px;
        left: 570px;
    }
    .messageForm
    {
        top: 610px;
        left: 300px;
    }
    #contact
    {
        top: 55px;
        left: 390px;
    }
    #submitButton
    {
        top: 750px;
        left: 300px;
    }
    #socialMediaTitle
    {
        top: 250px;
        left: 400px;
    }
}

@media only screen and (max-width:600px)
{
  #socialMedia1
    {
        top: 300px;
        left: 100px;
        position: relative;
        display: block;
        text-decoration: none;
    }
    #socialMedia2
    {
        top: 270px;
        left: 20px;
        position: relative;
        display: block;
        text-decoration: none;
    }
    .nameForm
    {
        top: 400px;
        left: 50px;
        position: relative;
        display: block;
    }
    .emailForm
    {
        top: 490px;
        left: 270px;
        position: relative;
        display: block;
    }
    .messageForm
    {
        top: 610px;
        left: 50px;
        position: relative;
        display: block;
    }
    #submitButton
    {
        top: 750px;
        left: 50px;
        font-size: 10px;
        position: relative;
        display: block;
    }
    #contact
    {
        top: 60px;
        left: 110px;
        font-size: 40px;
        position: relative;
        display: block;
    }
    #socialMediaTitle
    {
        top: 250px;
        left: 120px;
        font-size: 30px;
        position: relative;
        display: block;
    }
    .contactForm
    {
        font-size: 20px;
        position: relative;
        display: block;
    }
}
